$navy-dark: rgb(20, 40, 80);
$navy: rgb(39, 73, 109);
$navy-blue: rgb(12, 123, 147);
$navy-blue-light: rgb(0, 168, 204);

$white: rgb(238, 238, 238);
$gray: rgb(170, 170, 170);
$black: rgb(35, 35, 35);

$red-light: rgb(244, 124, 124);

// 結婚式招待状用

$wedding_brown: rgb(97, 65, 36);
$wedding_green-dark: rgb(34, 75, 12);
$wedding_green: rgb(145, 199, 136);
$wedding_green-light: rgb(221, 255, 188);
$wedding_green-lighter: rgb(254, 255, 222);
