$fonts: (
  'cabin': #{'Cabin', sans-serif},
  'noto-sans-jp': #{'Noto Sans JP', sans-serif},
  'biz-ud-mincho': #{'Biz UDMincho', serif},
  'roboto-slab': #{'Roboto Slab', serif},
  // 結婚式招待状用
  'marcellus': #{'Marcellus', serif},
  'rochester': #{'Rochester', cursive},
);

$font-xxxs: 0.8rem;
$font-xxs: 1rem;
$font-xs: 1.2rem;
$font-sm: 1.4rem;
$font-m: 1.6rem;
$font-lg: 1.8rem;
$font-xl: 2rem;
$font-xxl: 2.2rem; 
$font-xxxl: 2.4rem;
$font-huge: 2.8rem;
$font-xhuge: 3.2rem;
$font-xxhuge: 3.6rem;
$font-xxxhuge: 4rem;
